
body {
    background-color: #f8f9fa;
}

.app-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.app-title img {
    width: 80px;
    height: 80px;
}

table th,
table td {
    vertical-align: middle;
    text-align: center;
}

td button {
    margin: 2px;
}

#editInput {
    font-size: 16px;
    padding: 10px;
}
